.base {
  display: flex;
  justify-content: center;

  height: calc(100vh - 72px - 72px);
  min-height: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 var(--global-margins);
  width: var(--global-width);

  & h1 {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
  }
}
.buttonWrapper {
  margin: 2em 2em;
  display: flex;
}

button {
  // background-color: var(--red3);
  background-color: var(--gray3);
  border: none;
  // color: var(--red11);
  color: var(--gray11);
  cursor: pointer;
  border-radius: 32px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 10px 16px;
  margin: 1em;
  transition: background-color var(--transition-time), box-shadow var(--transition-time);
  white-space: nowrap;

  &:hover {
    // background-color: var(--red4);
    background-color: var(--gray4);
  }

  &:active {
    // background-color: var(--red5);
    background-color: var(--gray5);
  }

  &:focus {
    // box-shadow: 0 0 0 1px var(--red7), inset 0 0 0 1px var(--red7);
    box-shadow: 0 0 0 1px var(--gray8), inset 0 0 0 1px var(--gray8);
  }
}
Link {
  // background-color: var(--red3);
  background-color: var(--gray3);
  border: none;
  // color: var(--red11);
  color: var(--gray11);
  cursor: pointer;
  border-radius: 32px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 10px 16px;
  margin: 1em;
  transition: background-color var(--transition-time), box-shadow var(--transition-time);
  white-space: nowrap;

  &:hover {
    // background-color: var(--red4);
    background-color: var(--gray4);
  }

  &:active {
    // background-color: var(--red5);
    background-color: var(--gray5);
  }

  &:focus {
    // box-shadow: 0 0 0 1px var(--red7), inset 0 0 0 1px var(--red7);
    box-shadow: 0 0 0 1px var(--gray8), inset 0 0 0 1px var(--gray8);
  }
}




@media only screen and (max-width: 480px) {
  .base {
    height: calc(100vh - 64px - 64px);
  }
}
